In [45]:
from pytrends.request import TrendReq


import csv
import pandas as pd
import numpy
import time
import seaborn as sns

In [12]:

# Create payload and capture API tokens. Only needed for interest_over_time(), interest_by_region() & related_queries()
pytrend.build_payload(kw_list=['International womens day','International Mens Day'])

# Interest Over Time
interest_over_time_df = pytrend.interest_over_time()
print(interest_over_time_df.head())

            International womens day  International Mens Day isPartial
date
2013-03-17                         1                       0     False
2013-03-24                         0                       0     False
2013-03-31                         0                       0     False
2013-04-07                         0                       0     False
2013-04-14                         0                       0     False

In [18]:
interest_over_time_df.describe

<bound method NDFrame.describe of             International womens day  International Mens Day isPartial
date
2013-03-17                         1                       0     False
2013-03-24                         0                       0     False
2013-03-31                         0                       0     False
2013-04-07                         0                       0     False
2013-04-14                         0                       0     False
2013-04-21                         0                       0     False
2013-04-28                         0                       0     False
2013-05-05                         0                       0     False
2013-05-12                         0                       0     False
2013-05-19                         0                       0     False
2013-05-26                         0                       0     False
2013-06-02                         0                       0     False
2013-06-09                         0                       0     False
2013-06-16                         0                       0     False
2013-06-23                         0                       0     False
2013-06-30                         0                       0     False
2013-07-07                         0                       0     False
2013-07-14                         0                       0     False
2013-07-21                         0                       0     False
2013-07-28                         0                       0     False
2013-08-04                         0                       0     False
2013-08-11                         0                       0     False
2013-08-18                         0                       0     False
2013-08-25                         0                       0     False
2013-09-01                         0                       0     False
2013-09-08                         0                       0     False
2013-09-15                         0                       0     False
2013-09-22                         0                       0     False
2013-09-29                         0                       0     False
2013-10-06                         0                       0     False
...                              ...                     ...       ...
2017-08-20                         0                       0     False
2017-08-27                         0                       0     False
2017-09-03                         0                       0     False
2017-09-10                         0                       0     False
2017-09-17                         0                       0     False
2017-09-24                         0                       0     False
2017-10-01                         0                       0     False
2017-10-08                         1                       0     False
2017-10-15                         0                       0     False
2017-10-22                         1                       0     False
2017-10-29                         0                       0     False
2017-11-05                         0                       0     False
2017-11-12                         0                       1     False
2017-11-19                         1                       4     False
2017-11-26                         1                       0     False
2017-12-03                         1                       0     False
2017-12-10                         1                       0     False
2017-12-17                         0                       0     False
2017-12-24                         0                       0     False
2017-12-31                         1                       0     False
2018-01-07                         1                       0     False
2018-01-14                         1                       0     False
2018-01-21                         1                       0     False
2018-01-28                         2                       0     False
2018-02-04                         3                       0     False
2018-02-11                         4                       0     False
2018-02-18                         4                       0     False
2018-02-25                         8                       1     False
2018-03-04                       100                      31     False
2018-03-11                         9                       6      True

[261 rows x 3 columns]>

In [40]:
def cleanup(df):
    df['International_Womens_Day']=df['International_Womens_Day'].replace("<1","0.5")
    df['International_Mens_Day']=df['International_Mens_Day'].replace("<1","0.5")
    return(df)

def convert_to_int(df,cols_to_convert):
    for column in cols_to_convert:
        df[column]=df[column].astype(float)
    return(df)

In [34]:
searchResults=pd.read_csv('MenVsWomenDaySearches.csv')

In [35]:
searchResults=cleanup(searchResults)

In [41]:

cols_to_convert=['International_Womens_Day','International_Mens_Day']
searchResults=convert_to_int(searchResults,cols_to_convert)

In [43]:

searchResults = searchResults.melt('Month', var_name='Celebration_Day',  value_name='Relative_Number_Of_Results')

In [52]:
searchResults['Month']=pd.to_datetime(searchResults['Month'])

In [53]:
searchResults['Month_Year']=searchResults['Month'].apply(lambda x: x.strftime('%B-%Y'))

In [54]:
searchResults.head()

,Month,Celebration_Day,Relative_Number_Of_Results,Month_Year
0,2004-01-01,International_Womens_Day,0.5,January-2004
1,2004-02-01,International_Womens_Day,1.0,February-2004
2,2004-03-01,International_Womens_Day,2.0,March-2004
3,2004-04-01,International_Womens_Day,0.0,April-2004
4,2004-05-01,International_Womens_Day,0.0,May-2004

In [51]:
#df['date_column'] = pd.to_datetime(df['date_column'])


searchResults.head()

sns.tsplot(data=searchResults, time="Month",
           condition="Celebration_Day", value="Relative_Number_Of_Results")

NameError: name 'datetime' is not defined

In [ ]:
#TODO
#pytrends